<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30825545698-h9fndpnk6tt7vpbeli2nq181o3o9l1ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30825545698-h9fndpnk6tt7vpbeli2nq181o3o9l1ev</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ6QDIAZXOEn40GqOOlhmWm5GzUeQ4OVA</string>
	<key>GCM_SENDER_ID</key>
	<string>30825545698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-fea8c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fea8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30825545698:ios:a14308ec4d600d189d43bb</string>
</dict>
</plist>